<html>
<head>
</head>
<body>
	<h1>Welcome {{username}}</h1> 

<form action="/eventimages2" method="GET">

	Select event to upload an image of
	<br>

	<table>
        <th>Name</th>
		<th>ID</th>
        <th>Date</th>
        <th>Description</th>

	{% for line in redata %}
	<tr>
		<td><input type="radio" name="event" value="{{line.eID}}" required>{{line.eName}}</input></td>
		<td>{{line.eID}}</td>
		<td>{{line.eDate}}</td>
		<td>{{line.eDesc}}</td>
	</tr>
	{% endfor %}
</table>
	<br>
<input type="submit" value="Upload">
{% if error %}
<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}
</form>
</body>


</html>