<html>
<head>
</head>
<body>
	<h1>Welcome {{username}}</h1> 
	<br>

Which of your recipes do you want to connect to similar recipes?
<br>

<form action="/similar" method="GET">


{% for line in sdata %}
<input type="radio" name="recipe" value="{{line.recipeID}}" required>{{line.title}}</input>
	<br>
{% endfor %}
<br>

<input type="submit" value="Pick recipe">
{% if error %}
<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}
</form>



<a href="/logout">Logout</a>

</body>


</html>