<html>
<head>
</head>
<body>
	<h1>Welcome {{username}}</h1> 
	<br>

Which group do you want to edit?
<br>

<form action="/remove_review" method="GET">


{% for line in sdata %}
<input type="radio" name="group" value="{{line.recipeID}}" required>Title: {{line.revTitle}}, Stars: {{line.stars}}</input>
	<br>
{% endfor %}
<br>

<input type="submit" value="Remove">
{% if error %}
<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}
</form>



<a href="/logout">Logout</a>

</body>


</html>