<html>
<head>
</head>
<body>
	<h1>Welcome {{username}}</h1> 
	<br>

Which image do you want to remove?
<br>

<form action="/image_edit" method="GET">

	{% for line in sdata %}
		<input type="radio" name="image" value="{{line.pictureURL}}" required>{{line.pictureURL}}</input> <br>
		<td><img src="{{line.pictureURL}}" alt="User Image"></td>
        <br>
	{% endfor %}
<br>
<input type="submit" value="Remove Image">
{% if error %}
<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}
</form>



<a href="/logout">Logout</a>

</body>